<div class="top-column pl-4 navbar navbar-dark">
    <img src="/logopng.png" asp-append-version="true" width="120px"/>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/chapters" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=chapters/1>
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chapter 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=chapters/2>
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chapter 2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=chapters/3>
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chapter 3
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=chapters/4>
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chapter 4
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=chapters/5>
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chapter 5
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=chapters/6>
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chapter 6
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=chapters/7>
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chapter 7
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=chapters/8>
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chapter 8
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=chapters/9>
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chapter 9
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=chapters/10>
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chapter 10
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private int k = 1;
    private int get() => k++;
    private string getChapter(int m) => $"chapter{m}";

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
